{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@data/(.*)$",
    "^@definitions/(.*)$",
    "^@hooks/(.*)$",
    "^@layouts/(.*)$",
    "^@pages/(.*)$",
    "^@routes/(.*)$",
    "^@services/(.*)$",
    "^@store/(.*)$",
    "^@styles/(.*)$",
    "^@utils/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
