@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400..600&display=swap');
@import '/node_modules/reset-css/reset.css';

a {
  text-decoration-color: transparent;
  color: inherit;
  transition: all 0.15s ease-in;
}
h1,
h2,
h3,
h4,
p {
  line-height: 1.25;
}

.wa-icon path,
.tg-icon path {
  transition: stroke 150ms ease-in-out;
}

.wa-icon:hover path {
  stroke: #128c7e;
}

.tg-icon:hover path {
  stroke: #27a4e3;
}
