@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400..600&display=swap');
@import '/node_modules/reset-css/reset.css';

a {
  text-decoration-color: transparent;
  color: inherit;
  transition: all 0.3s ease-in;
}

a:not(.link-icon):hover {
  text-decoration-color: #df3d3ab5;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.25;
}
